header{
    background: var(--white);
    padding: 1.4rem 0;
    .nav-bar-container{
           display: flex;
           align-items: center;
           justify-content: space-between;

        //    .links-container{
        //      display: flex;
        //      gap: 2rem;
        //      @media (width<=924px) {
        //         display: none;
        //      }
        //      .links{
        //         position: relative;
        //         font-size: 1.8rem;
        //         text-transform: capitalize;
        //         cursor: pointer;
        //         padding: 1rem 0;
        //         font-weight: 400;
        //         .sub-links-container{
        //             position: absolute;
        //             top: 4.2rem;
        //             display: none; 
        //             background-color: #E7FBF5;
        //             width: 220px;
        //             border-radius: 5px;
        //             .sub-links{
        //                 padding: 0.8rem 1.6rem;
        //                 position: relative;
        //                 border-radius: 5px;
        //                 font-size: 1.36rem;
        //                 .child-sub-links-container{
        //                     display: none;
        //                     position: absolute;
        //                     max-width: 300px;
        //                     width: 100%;
        //                     top: 0;
        //                     left: 100%;
        //                     background-color: #E7FBF5;
        //                     border-radius: 6px;
        //                 }
        //                 &:hover{
        //                     background-color: var(--white);
        //                 }
        //                 &:hover > .child-sub-links-container{
        //                     display: flex;
        //                     flex-direction: column;
        //                 }
        //             }
        //         }
        //         &:hover > .sub-links-container{
        //             display: flex;
        //             flex-direction: column;
        //             gap: 0.4rem;
        //         }

        //         &:hover{
        //             scale: 1.1;
        //             transition: all 0.288s linear;
        //         }
        //      }
        //    }
    }

    .mobile-nav-bar-container{

    }
}